
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #133a4d;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.resetButton {
    background-color: #333;
    color: white;
    height: 3rem;
    padding: 0.5rem;
}

.resetButton:hover {
    background-color: #222;
}

.resetButton:active {
    background-color: #111;
    /* color:black; */
}